.column{
    display: inline-block;
    margin: 5px;
    border: 2px solid transparent;
    transition: all 0.2s ease;
    &:hover{
        border: 2px red solid;
        background-color: transparent!important;
    }
}
.columns-container{
    height: 420px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    // background-color: black;
}

.current-column{
    border: 2px dashed red;
    // background-color: red!important;
}